.title
  %h1= @program.name
  - if current_user.programs.include?(@program) 
    = link_to new_program_workout_path(@program), class: "btn btn-outline-primary btn-sm", title: "Add workout" do
      %i.bi.bi-plus.h4
.index
  %table
    %thead
      %tr
        %th Name
        %th Goal
        %th Rest Days
        %th Exercises
        %th Actions
    %tbody
      - @workouts.each do |workout|
        %tr
          %td= workout.name
          %td= workout.goal
          %td= workout.rest_days
          %td= workout.exercises.count
          %td
            - if workout.exercises.any?
              = link_to start_workout_program_workout_path(@program, workout), class: "btn play", title: "Start workout" do
                %i.bi.bi-play
              = link_to preview_workout_program_workout_path(@program, workout), class: "btn", title: "Preview workout" do
                %i.bi.bi-eyeglasses
            = link_to program_workout_path(@program, workout), class: "btn", title: "View workout" do
              %i.bi.bi-eye
            - if current_user.programs.include?(@program)
              = link_to edit_program_workout_path(@program, workout), class: "btn", title: "Edit workout" do
                %i.bi.bi-pencil
              = button_to program_workout_path(@program, workout), method: :delete, data: { confirm: "Are you sure?" }, class: "btn delete link" do
                %i.bi.bi-trash