.title
  %h1= @program.name
  = link_to new_program_workout_path(@program), class: "btn btn-outline-primary btn-sm" do
    %i.bi.bi-plus.h4
.index
  %table
    %thead
      %tr
        %th Name
        %th Goal
        %th Rest Days
        %th Exercises
        %th Actions
    %tbody
      - @workouts.each do |workout|
        %tr
          %td= workout.name
          %td= workout.goal
          %td= workout.rest_days
          %td= workout.exercises.count
          %td
            = link_to program_workout_path(@program, workout), class: "btn" do
              %i.bi.bi-eye
            = link_to edit_program_workout_path(@program, workout), class: "btn" do
              %i.bi.bi-pencil
            = link_to program_workout_path(@program, workout), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "btn delete" do
              %i.bi.bi-trash