.form
  %h1.title Edit Program
  = form_for @program do |f|
    .form-group
      = f.label :name
      = f.text_field :name, required: true, class: "form-control"
    .form-group
      = f.label :frequency, "Workouts per Week"
      = f.number_field :frequency, step: 1, required: true, class: "form-control"
    .form-group
      = f.label :level
      = f.select :level, @levels, {}, class: "form-control"
    .form-group
      = f.label :goal
      = f.text_field :goal, class: "form-control"
    .form-group-inline
      .field
        = f.label :duration
        = f.number_field :duration, class: "form-control"
      .field
        = f.label :unit_id
        = f.collection_select :unit_id, @units, :id, :name, { prompt: "Select Unit" }, class: "form-control"
    = f.submit "Save", class: "btn btn-primary"
