.title
  %h1 Program
  - if current_user.programs.include?(@program) 
    = link_to edit_program_path(@program), class:  "btn btn-outline-primary btn-sm" do
      %i.bi.bi-pencil.h5
    = link_to new_program_workout_path(@program), class: "btn btn-outline-primary btn-sm", title: "Add workout" do
      %i.bi.bi-plus.h5
.show
  %table
    %tbody
      %tr
        %td.label Name:
        %td.value= @program.name
      %tr
        %td.label Frequency:
        %td.value= @program.frequency
      %tr
        %td.label Goal:
        %td.value= @program.goal
      %tr
        %td.label Level:
        %td.value= @program.level
      - if @program.duration
        %tr
          %td.label Estimated Duration:
          %td.value= [@program.duration, @program.unit.abbreviation].join(" ")
  = link_to "Workouts", program_workouts_path(@program), class: "btn btn-primary" if @program.workouts.any?
- if @program.workouts.any?
  .separator
  .show-width
    .flex-row
      - @program.workouts.each do |workout|
        = link_to workout.name, start_workout_program_workout_path(@program, workout), class: "btn btn-success btn-md"
  .separator
