.title
  %h1 Program
  = link_to edit_program_path(@program), class:  "btn btn-outline-primary btn-sm" do
    %i.bi.bi-pencil.h5
.show
  %table
    %tbody
      %tr
        %td.label Name:
        %td.value= @program.name
      %tr
        %td.label Frequency:
        %td.value= @program.frequency
      %tr
        %td.label Goal:
        %td.value= @program.goal
      %tr
        %td.label Level:
        %td.value= @program.level
      %tr
        %td.label Estimated Duration:
        %td.value= [@program.duration, @program.unit.abbreviation].join(" ")
.title
  %h1 Workouts
.show
  %table
    %tbody
      %tr
        - @program.workouts.each do |w|
          %td.value= link_to w.name, program_workout_path(@program, w), class: "btn btn-primary"

