.show
  %h1.title= "Program"
  %table
    %tbody
      %tr
        %td.label Name:
        %td.value= @program.name
      %tr
        %td.label Frequency:
        %td.value= @program.frequency
      %tr
        %td.label Goal:
        %td.value= @program.goal
      %tr
        %td.label Level:
        %td.value= @program.level
      %tr
        %td.label Estimated Duration:
        %td.value= [@program.duration, @program.unit.abbreviation].join(" ")
  = link_to "Edit Program", edit_program_path(@program), class: "btn btn-primary"
.separator
%h1.title Workouts
.show
  %table
    %tbody
      %tr
        - @program.workouts.each do |w|
          %td.value= link_to w.name, program_workout_path(@program, w), class: "btn btn-primary"

