.form
  = form_for @user do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: "form-control"
    .form-group
      = f.label :email
      = f.email_field :email, class: "form-control"
    .form-group
      = f.label :gender
      = f.select :gender, ['Male', 'Female'], {}, class: "form-control"
    .form-group
      = f.label :weight
      .flex-row
        = f.number_field :weight, class: "form-control"
        = f.collection_select :weight_unit_id, Unit.where(unit_type: 'Weight'), :id, :name, { prompt: "Select Weight Unit" }, class: "form-control"
    .form-group
      = f.label :height
      .flex-row
        = f.number_field :height, class: "form-control"
        = f.collection_select :height_unit_id, Unit.where(unit_type: 'Height'), :id, :name, { prompt: "Select Height Unit" }, class: "form-control"
    = f.submit "Save", class: "btn btn-primary"