.title
  %h1 Users
.index
  %table
    %thead
      %tr
        %th Name
        %th Email
        %th Gender
        %th Weight
        %th Height
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.gender
          %td= [user.weight, user.weight_unit&.abbreviation].compact.join(" ")
          %td= [user.height, user.height_unit&.abbreviation].compact.join(" ")
          %td
            = link_to user_path(user), class: "btn" do
              %i.bi.bi-eye
            = link_to edit_user_path(user), class: "btn" do
              %i.bi.bi-pencil
            = link_to user_path(user), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "btn delete" do
              %i.bi.bi-trash
