.title
  %h1= @user.name
  = link_to edit_user_path(@user), class:  "btn btn-outline-primary btn-sm" do
    %i.bi.bi-pencil.h5
.show
  %table
    %tbody
      %tr
        %td.label Email
        %td.value= @user.email
      %tr
        %td.label Gender
        %td.value= @user.gender
      %tr
        %td.label Weight
        %td.value= [@user.weight, @user.weight_unit&.abbreviation].join(" ")
      %tr
        %td.label Height
        %td.value= [@user.height, @user.height_unit&.abbreviation].join(" ")
  = link_to "Programs", programs_path(@user), class: "btn btn-primary"