.show
  %h1.title= @user.name
  %table
    %tbody
      %tr
        %td.label Email
        %td.value= @user.email
      %tr
        %td.label Gender
        %td.value= @user.gender
      %tr
        %td.label Weight
        %td.value= [@user.weight, @user.weight_unit.abbreviation].join(" ")
      %tr
        %td.label Height
        %td.value= [@user.height, @user.height_unit.abbreviation].join(" ")
  
  = link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary"