
.index.desktop
  %table.preview
    %tbody
      %tr
        - @exercise.warmup_sets.each do |ex_set|
          %td{ class: @exercise_set.order == ex_set.order ? 'highlight-2' : '' }
            = ex_set.reps
            %i.bi.bi-x
            = display_number(ex_set.load)
            = ex_set.unit.abbreviation
        - @exercise.working_sets.each do |ex_set|
          %td{ class: @exercise_set.order == ex_set.order ? 'highlight-2' : 'highlight' }
            = ex_set.reps
            %i.bi.bi-x
            = display_number(ex_set.load)
            = ex_set.unit.abbreviation
          - if ex_set.intensity_technique
            %td{ class: @exercise_set.order == ex_set.order ? 'highlight-2' : 'highlight' }= ex_set.intensity_technique.name