.flex-row
  %table
    %thead
      %tr
        %th Reps
        %th
        %th Load
        %th
        %th Intensity
        %th
    %tbody
      - if @exercise_set.is_superset?
        %tr
          %td.text{ colspan: 6, class: 'highlight-2'}
            %i.bi.bi-rocket-takeoff
            %span.fw-bold Superset
      - working_sets, warmup_sets = @exercise.exercise_group.all_sets.partition{ |es| es.working_set? }
      - all_sets = warmup_sets + working_sets
      - all_sets.each do |ex_set|
        - current_set = @exercise_set.id == ex_set.id
        - if current_set 
          = render 'skip_current_set_form'
          %tr.highlight-2.current-set-row{ id: "set-row-#{ex_set.id}" }
            = render 'current_set_form', locals: {}
        - else
          %tr{id: "set-row-#{ex_set.id}", class: ex_set.working_set? ? 'highlight' : '' }
            = form_with model: ex_set, url: program_workout_exercise_exercise_set_path(@program, @workout, @exercise, ex_set), method: :patch, local: true, html: { id: ex_set.id } do |f|
              = f.hidden_field :play, value: true, id: "play-#{ex_set.id}"
              %td
                .flex-row
                  = f.number_field :reps, value: ex_set.reps, id: "reps-#{ex_set.id}"
              %td.cross
                %i.bi.bi-x
              %td
                = f.number_field :load, value: display_number(ex_set.load), step: :any, id: "load-#{ex_set.id}"
              %td.cross
                = ex_set.unit.abbreviation
              %td
                = f.number_field :intensity, value: ex_set.intensity, id: "intensity-#{ex_set.id}"
              %td
                - if current_user.programs.include?(@program)
                  - button_class = (@exercise_set.order > ex_set.order || @prev_set&.id == ex_set.id) ? "bi bi-check-circle-fill text-success" : "hidden"
                  %button{ type: "submit", title: "Mark as complete", id: "submit-#{ex_set.id}", class: button_class } 
        - if ex_set.intensity_technique
          %tr
            %td.text{ colspan: 6, class: current_set ? 'highlight-2' : 'highlight'}
              %i.bi.bi-rocket-takeoff
              %span.fw-bold= ex_set.intensity_technique.name
      - if current_user.programs.include?(@program)
        = form_with model: @exercise, url: program_workout_exercise_path(@program, @workout, @exercise), method: :patch, local: true, html: { id: @exercise.id, target: "_blank" } do |f|
          %td Notes
          %td{ colspan: 4}
            = f.text_field :notes, value: @exercise.notes, id: "notes-#{@exercise.id}"
          %td
            %button.h5.bi.bi-pencil-square.text-primary{ type: "submit", title: "Mark as complete", id: "submit-#{@exercise.id}"} 



:scss

  input[type="text"] {
    width: 100%;
  }

  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 8px;
    width: 60px;
    font-size: 0.9rem;
    text-align: left;
  }

  .suggested {
    color: grey;
  }

  table {
    thead {
      background-color: #f8f9fa;
      th {
        text-align: left;
        padding: 8px 12px;
        font-weight: 600;
      }
    }

    td {
      text-align: center;
    }

    td:not(.cross) {
      padding: 10px;
    }
  }

  .bi-check-circle, .bi-check-circle-fill, .bi-fast-forward-circle, .bi-pencil-square {
    border: none;
    background: none;
    cursor: pointer;

    &.btn-success {
      color: #198754;
    }

    &.btn-outline-success {
      color: #198754;
      border: 1px solid #198754;
      border-radius: 4px;
    }
  }


  @media (min-width: 1200px) {
    .mobile {
      display: none;
    }
  }

  @media (max-width: 1199.98px) {
    .desktop {
      display: none;
    }
    input {
      width: 50px;
    }
  }

:javascript

  function copyPaste(text, id) {
    field = document.getElementById(id);
    field.value = text
  }

  document.addEventListener("DOMContentLoaded", () => {
    const currentRow = document.querySelector(".current-set-row");
    if (currentRow) {
      currentRow.scrollIntoView({ behavior: "smooth", block: "center" });
    }
  });