.flex-row
  %table
    %thead
      %tr
        %th Reps
        %th
        %th Load
        %th
        %th Intensity
        %th
    %tbody
      - if @exercise_set.is_superset?
        %tr
          %td.text{ colspan: 6, class: 'highlight-2'}
            %i.bi.bi-rocket-takeoff
            %span.fw-bold Superset
      - all_sets = @exercise.exercise_group.all_sets
      - working_sets, warmup_sets = all_sets.partition{ |es| es.working_set? }
      - working_sets = working_sets
      - warmup_sets = warmup_sets
      - warmup_sets.each do |ex_set|
        - current_set = @exercise_set.id == ex_set.id
        - if current_set 
          = form_with model: ex_set, url: program_workout_exercise_exercise_set_path(@program, @workout, @exercise, ex_set), method: :patch, local: true, html: { id: ex_set.id } do |f|
            = f.hidden_field :play, value: true, id: "play-#{ex_set.id}"
            = f.hidden_field :reps, value: ex_set.reps, id: "reps-#{ex_set.id}"
            = f.hidden_field :load, value: display_number(ex_set.load), step: :any, id: "load-#{ex_set.id}"
            = f.hidden_field :intensity, value: ex_set.intensity, id: "intensity-#{ex_set.id}"
            %tr
              %td.highlight-2
                = ex_set.reps
                %i.bi.text-primary{class: (ex_set.reps == ex_set.suggested_reps) ? 'hidden' : (ex_set.reps > ex_set.suggested_reps) ? 'bi-arrow-down' : 'bi-arrow-up'}
              %td.highlight-2.cross
                %i.bi.bi-x
              %td.highlight-2
                = display_number(ex_set.load)
                %i.bi.text-primary{class: (ex_set.load == ex_set.suggested_load) ? 'hidden' : (ex_set.load > ex_set.suggested_load) ? 'bi-arrow-down' : 'bi-arrow-up'}
              %td.highlight-2
                = ex_set.unit.abbreviation
              %td.highlight-2
                = ex_set.intensity
                %i.bi.text-primary{class: (ex_set.intensity == ex_set.suggested_intensity) ? 'hidden' : (ex_set.intensity > ex_set.suggested_intensity) ? 'bi-arrow-down' : 'bi-arrow-up'}
              %td.highlight-2
                %button.h5{ type: "submit", title: "Keep last performed set", id: "submit-#{ex_set.id}", class: "bi bi-fast-forward-circle text-primary" }
          %tr{id: "set-row-#{ex_set.id}"}
            = form_with model: ex_set, url: program_workout_exercise_exercise_set_path(@program, @workout, @exercise, ex_set), method: :patch, local: true, html: { id: ex_set.id } do |f|
              = f.hidden_field :play, value: true, id: "play-#{ex_set.id}"
              %td{ class: current_set ? 'highlight-2' : '' }
                = f.number_field :reps, value: ex_set.suggested_reps, id: "reps-#{ex_set.id}"
              %td.cross{ class: current_set ? 'highlight-2' : '' }
                %i.bi.bi-x
              %td{ class: current_set ? 'highlight-2' : '' }
                = f.number_field :load, value: display_number(ex_set.suggested_load), step: :any, id: "load-#{ex_set.id}"
              %td.cross{ class: current_set ? 'highlight-2' : '' } 
                = ex_set.unit.abbreviation
              %td{ class: current_set ? 'highlight-2' : '' }
              %td{ class: current_set ? 'highlight-2' : '' }
                - button_class = (@exercise_set.order > ex_set.order || @prev_set&.id == ex_set.id) ? "text-success" : (current_set) ? "text-primary" : "hidden"
                %button.h5{ type: "submit", title: "Mark as complete", id: "submit-#{ex_set.id}", class: "bi bi-check-circle #{button_class}" }
        - else
          %tr{id: "set-row-#{ex_set.id}"}
            = form_with model: ex_set, url: program_workout_exercise_exercise_set_path(@program, @workout, @exercise, ex_set), method: :patch, local: true, html: { id: ex_set.id } do |f|
              = f.hidden_field :play, value: true, id: "play-#{ex_set.id}"
              %td{ class: current_set ? 'highlight-2' : '' }
                = f.number_field :reps, value: ex_set.reps, id: "reps-#{ex_set.id}"
              %td.cross{ class: current_set ? 'highlight-2' : '' }
                %i.bi.bi-x
              %td{ class: current_set ? 'highlight-2' : '' }
                = f.number_field :load, value: display_number(ex_set.load), step: :any, id: "load-#{ex_set.id}"
              %td.cross{ class: current_set ? 'highlight-2' : '' } 
                = ex_set.unit.abbreviation
              %td{ class: current_set ? 'highlight-2' : '' }
              %td{ class: current_set ? 'highlight-2' : '' }
                - button_class = (@exercise_set.order > ex_set.order || @prev_set&.id == ex_set.id) ? "bi bi-check-circle-fill text-success" : (current_set) ? "bi bi-check-circle text-primary" : "hidden"
                %button{ type: "submit", title: "Mark as complete", id: "submit-#{ex_set.id}", class: button_class }
      - working_sets.each do |ex_set|
        - current_set = @exercise_set.id == ex_set.id
        - if current_set 
          = form_with model: ex_set, url: program_workout_exercise_exercise_set_path(@program, @workout, @exercise, ex_set), method: :patch, local: true, html: { id: ex_set.id } do |f|
            = f.hidden_field :play, value: true, id: "play-#{ex_set.id}"
            = f.hidden_field :reps, value: ex_set.reps, id: "reps-#{ex_set.id}"
            = f.hidden_field :load, value: display_number(ex_set.load), step: :any, id: "load-#{ex_set.id}"
            = f.hidden_field :intensity, value: ex_set.intensity, id: "intensity-#{ex_set.id}"
            %tr
              %td.highlight-2
                = ex_set.reps
                %i.bi.text-primary{class: (ex_set.reps == ex_set.suggested_reps) ? 'hidden' : (ex_set.reps > ex_set.suggested_reps) ? 'bi-arrow-down' : 'bi-arrow-up'}
              %td.highlight-2.cross
                %i.bi.bi-x
              %td.highlight-2
                = display_number(ex_set.load)
                %i.bi.text-primary{class: (ex_set.load == ex_set.suggested_load) ? 'hidden' : (ex_set.load > ex_set.suggested_load) ? 'bi-arrow-down' : 'bi-arrow-up'}
              %td.highlight-2= ex_set.unit.abbreviation
              %td.highlight-2
                = ex_set.intensity
                %i.bi.text-primary{class: (ex_set.intensity == ex_set.suggested_intensity) ? 'hidden' : (ex_set.intensity > ex_set.suggested_intensity) ? 'bi-arrow-down' : 'bi-arrow-up'}
              %td.highlight-2
                %button.h5{ type: "submit", title: "Keep last performed set", id: "submit-#{ex_set.id}", class: "bi bi-fast-forward-circle text-primary" }
          %tr{id: "set-row-#{ex_set.id}"}
            = form_with model: ex_set, url: program_workout_exercise_exercise_set_path(@program, @workout, @exercise, ex_set), method: :patch, local: true, html: { id: ex_set.id } do |f|
              = f.hidden_field :play, value: true, id: "play-#{ex_set.id}"
              %td{ class: current_set ? 'highlight-2' : 'highlight' }
                .flex-row
                  = f.number_field :reps, value: ex_set.suggested_reps, id: "reps-#{ex_set.id}"
              %td.cross{ class: current_set ? 'highlight-2' : 'highlight' }
                %i.bi.bi-x
              %td{ class: current_set ? 'highlight-2' : 'highlight' }
                = f.number_field :load, value: display_number(ex_set.suggested_load), step: :any, id: "load-#{ex_set.id}"
              %td.cross{ class: current_set ? 'highlight-2' : 'highlight' }
                = ex_set.unit.abbreviation
              %td{ class: current_set ? 'highlight-2' : 'highlight' }
                = f.number_field :intensity, value: ex_set.suggested_intensity, id: "intensity-#{ex_set.id}"
              %td{ class: current_set ? 'highlight-2' : 'highlight' }
                - button_class = (@exercise_set.order > ex_set.order || @prev_set&.id == ex_set.id) ? "text-success" : (current_set) ? "text-primary" : "hidden"
                %button.h5{ type: "submit", title: "Mark as complete", id: "submit-#{ex_set.id}", class: "bi bi-check-circle #{button_class}" }
        - else
          %tr{id: "set-row-#{ex_set.id}"}
            = form_with model: ex_set, url: program_workout_exercise_exercise_set_path(@program, @workout, @exercise, ex_set), method: :patch, local: true, html: { id: ex_set.id } do |f|
              = f.hidden_field :play, value: true, id: "play-#{ex_set.id}"
              %td{ class: current_set ? 'highlight-2' : 'highlight' }
                .flex-row
                  = f.number_field :reps, value: ex_set.reps, id: "reps-#{ex_set.id}"
              %td.cross{ class: current_set ? 'highlight-2' : 'highlight' }
                %i.bi.bi-x
              %td{ class: current_set ? 'highlight-2' : 'highlight' }
                = f.number_field :load, value: display_number(ex_set.load), step: :any, id: "load-#{ex_set.id}"
              %td.cross{ class: current_set ? 'highlight-2' : 'highlight' }
                = ex_set.unit.abbreviation
              %td{ class: current_set ? 'highlight-2' : 'highlight' }
                = f.number_field :intensity, value: ex_set.intensity, id: "intensity-#{ex_set.id}"
              %td{ class: current_set ? 'highlight-2' : 'highlight' }
                - button_class = (@exercise_set.order > ex_set.order || @prev_set&.id == ex_set.id) ? "bi bi-check-circle-fill text-success" : (current_set) ? "bi bi-check-circle text-primary" : "hidden"
                %button{ type: "submit", title: "Mark as complete", id: "submit-#{ex_set.id}", class: button_class } 
        - if ex_set.intensity_technique
          %tr
            %td.text{ colspan: 6, class: current_set ? 'highlight-2' : 'highlight'}
              %i.bi.bi-rocket-takeoff
              %span.fw-bold= ex_set.intensity_technique.name
      = form_with model: @exercise, url: program_workout_exercise_path(@program, @workout, @exercise), method: :patch, local: true, html: { id: @exercise.id, target: "_blank" } do |f|
        %td Notes
        %td{ colspan: 4}
          = f.text_field :notes, value: @exercise.notes, id: "notes-#{@exercise.id}"
        %td
          %button.h5.bi.bi-pencil-square.text-primary{ type: "submit", title: "Mark as complete", id: "submit-#{@exercise.id}"} 



:scss

  input[type="text"] {
    width: 100%;
  }

  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 8px;
    width: 60px;
    font-size: 0.9rem;
    text-align: left;
  }

  .suggested {
    color: grey;
  }

  table {
    thead {
      background-color: #f8f9fa;
      th {
        text-align: left;
        padding: 8px 12px;
        font-weight: 600;
      }
    }

    td {
      text-align: center;
    }

    td:not(.cross) {
      padding: 10px;
    }
  }

  .bi-check-circle, .bi-check-circle-fill, .bi-fast-forward-circle, .bi-pencil-square {
    border: none;
    background: none;
    cursor: pointer;

    &.btn-success {
      color: #198754;
    }

    &.btn-outline-success {
      color: #198754;
      border: 1px solid #198754;
      border-radius: 4px;
    }
  }


  @media (min-width: 1200px) {
    .mobile {
      display: none;
    }
  }

  @media (max-width: 1199.98px) {
    .desktop {
      display: none;
    }
    input {
      width: 50px;
    }
  }

:javascript

  function copyPaste(text, id) {
    field = document.getElementById(id);
    field.value = text
  }
