.title 
  %h1= [@exercise.name, "Set"].join(" - ")
.form
  = form_with model: [@program, @workout, @exercise, @exercise_set], local: true do |f|
    .form-group
      = f.label :order
      = f.number_field :order
    .form-group
      = f.label :set_type
      = f.select :set_type, @set_types
    .form-group
      = f.label "Reps (#{@exercise.rep_range_min} - #{@exercise.rep_range_max})"
      = f.number_field :reps
    .form-group-inline
      = f.label :load
    .form-group-inline
      = f.number_field :load, class: "form-control", step: :any
      = f.collection_select :unit_id, @units, :id, :name, { prompt: "Select Load Unit" }, class: "form-control"
    - if @exercise_set.working_set?
      .form-group
        = f.label :intensity
        = f.number_field :intensity
      .form-group
        = f.label :suggested_intensity
        = f.number_field :suggested_intensity
      .form-group
        = f.label :intensity_technique_id
        = f.select :intensity_technique_id, @techniques
    = f.submit 'Save', class: 'btn'