.flex-row
  .form
    = form_with model: [@program, @workout, @exercise, @exercise_set], local: true do |f|
      .title
        %h3= @exercise.name
      .title
        %h5= [@exercise_set.set_type, @exercise_set.order].join(" - ")
      = f.hidden_field :play, value: true
      .form-group
        = f.label :reps, ["Reps", @exercise_set.suggested_rep_range].join(" ")
        = f.number_field :reps
      .form-group
        = f.label :load, "Load (~#{@exercise_set.suggested_load} #{@exercise_set.unit.abbreviation})"
        .flex-row
          = f.number_field :load, class: "form-control", step: :any
      - if @exercise_set.set_type == "Working Set"
        .form-group
          = f.label @exercise_set.suggested_intensity ? "Intensity (~#{@exercise_set.suggested_intensity})" : "Intensity"
          = f.select :intensity, [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
      = f.submit 'Save', class: 'btn'

:scss

  .form {
    width: 80%;
    margin-top: 20px;
    .title {
      margin-bottom: 4px;
    }
    form {
      margin-top: 0;
    }
    .form-group {
      margin-bottom: 3px;
    }
  }

:javascript
  document.addEventListener("turbo:load", () => {
    const form = document.querySelector(".form form");
    if (!form) return;
    document.addEventListener("keydown", (event) => {
      if (event.key === "Enter" && !event.metaKey && !event.ctrlKey && !event.shiftKey) {
        event.preventDefault();
        form.submit();
      }
    });
  });