.flex-container
  .flex-item-left
    .title 
      %h1.text-center.mt-3.font-bold= @exercise.name
    - if @exercise.image.attached?
      = image_tag url_for(@exercise.image), class: "img-desktop"
  .flex-item-right
    - if @exercise.image.attached?
      = image_tag url_for(@exercise.image), class: "img-mobile img-fluid"
    .flex-row.center
      .show
        .title
          %h1#rest-timer.text-center.mt-3.font-bold 00:00
    .flex-row
      = render 'exercise_sets/play_form'
    .show
      %table
        - if @exercise_set.working_set?
          %tr
            %td.label Rep Range
            %td.value= @exercise_set.rep_range
        - if @exercise.instrument
          %tr
            %td.label Instrument
            %td.value
              - if @exercise.instrument.weight > 0
                = [@exercise.instrument.name, " ", "(", display_number(@exercise.instrument.weight), @exercise.instrument.unit.abbreviation, ")"].join("")
              - elsif @exercise.hole
                = [@exercise.instrument.name, "-", display_nth(@exercise.hole), "Hole from top"].join(" ")
              - else 
                = @exercise.instrument.name
              - if @exercise.unilateral
                = " - Unilateral"
        - if @exercise.grip && !@exercise.attachment
          %tr
            %td.label Grip
            %td.value
              = @exercise.grip.name
        - if @exercise.attachment
          %tr
            %td.label Attachment
            %td.value
              = @exercise.attachment.name
              - if @exercise.grip
                = [" -", @exercise.grip.name].join(" ")
        - if @exercise.notes.present?
          %tr
            %td.label Notes
            %td.value= @exercise.notes
        - if @exercise_set.next_set && @exercise_set.last_set?
          - upcoming_ex_sets = @exercise_set.next_set.exercise.exercise_group.all_sets.select{ |es| es.order == 1 }
          - upcoming_ex_sets.each_with_index do |ex_set, index|
            %tr
              %td.label{ rowspan: 2 }
                = "Upcoming"
                = " ##{index+1}" if upcoming_ex_sets.size > 1
              %td.value= ex_set.exercise.name
            %tr
              %td.value
                = ex_set.exercise.instrument.name
                = ex_set.load
                - if ex_set.load != ex_set.suggested_load
                  %i.bi.bi-arrow-right
                  = ex_set.suggested_load
                = ex_set.unit.abbreviation
                - if ex_set.exercise.instrument.name == "Cable"
                  = " - " + ex_set.exercise.attachment.name if ex_set.exercise.attachment
                  = " - " + display_nth(ex_set.exercise.hole) + " Hole" if ex_set.exercise.hole
- last_set = @exercise.exercise_group.exercises.flat_map{ |e| e.working_sets }.select{ |es| es.last_set? }.first 
.show
  = form_with model: last_set, url: program_workout_exercise_exercise_set_path(@program, @workout, last_set.exercise, last_set), method: :patch, local: true, html: { id: last_set.id } do |f|
    = f.hidden_field :play, value: true, id: "play-#{last_set.id}"
    = f.hidden_field :reps, value: last_set.reps, id: "reps-#{last_set.id}"
    = f.hidden_field :load, value: display_number(last_set.load), step: :any, id: "load-#{last_set.id}"
    = f.hidden_field :intensity, value: last_set.intensity, id: "intensity-#{last_set.id}"
    %button.h5{ type: "submit", title: "Skip to next exercise", id: "next-link", class: "btn" } Next Exercise
  %br

:scss

  .show {
    form {
      border: none;

    }
  }

  .flex-row {
    align-items: flex-start;
  }

  .disabled-link {
    opacity: 0.5;
  }

  .show td.label {
    width: 30%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .flex-item-left {
    flex: 1;
    margin: 2%;
    margin-top: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    flex-direction: column;
  }

  .flex-item-right {
    flex: 1;
    margin: 2%;
    margin-top: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    flex-direction: column;
  }

  .img-desktop {
    max-height: 400px;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto; // optional: centers the image
    object-fit: contain; // optional, for good scaling in constrained areas
  }

  .img-mobile {
    max-height: 200px;
  }

  @media (min-width: 1200px) {
    .flex-container {
      height: 500px;
      flex-direction: row;
    }
    .img-mobile {
      display: none;
    }
  }

  @media (max-width: 1199.98px) {
    .img-desktop, .desktop {
      display: none;
    }
    .center {
      justify-content: center;
    }
  }

:javascript

  document.addEventListener("turbo:load", () => {
    let time = 0;
    const prevSet = #{!!@prev_set};
    const workingSet = "#{@exercise_set&.set_type}" === "Working Set";
    const unilateral = #{@exercise_set&.exercise&.unilateral || false};
    const prevWorkingSet = #{@prev_set&.working_set? ? "true" : "false"};
    let duration = #{(@exercise_set&.exercise&.unilateral ? @exercise_set&.exercise&.rest_time : @prev_set&.exercise&.rest_time) || 0};
    const unit = "#{@prev_set&.exercise&.unit&.name || 'Seconds'}";
    if (unilateral) {
      duration += 40;
    }
    // Set time based on previous set
    if (prevSet) {
      if (workingSet && prevWorkingSet) {
        time = duration
        // Convert to seconds if rest time is in minutes
        if (unit.toLowerCase() === "minutes") {
          time *= 60;
        }
      }
      // Set time to 30 seconds if warmup set
      else {
        time = 30;
      }
    }
    // Set time to 1 if workout just started
    else {
      time = 5;
    }
    // Select timer element
    const timerEl = document.getElementById("rest-timer");
    if (!timerEl) return;
    // Update timer text and notify user if necessary
    const updateTimer = () => {
      // Notify if rest time is over
      if (time <= 0) {
        if (unilateral) {
          playSound();
          showToast(`<i class="bi bi-rocket-takeoff me-2"></i>Go with left side!`, { type: "primary", delay: 10000 });
        }
        else {
          playSound();
          showToast(`<i class="bi bi-rocket-takeoff me-2"></i>Go!`, { type: "primary", delay: 10000 });
        }
        timerEl.textContent = "GO!";
        timerEl.classList.add("text-danger");
        clearInterval(interval);
        return;
      }
      // Notify at half rest time for unilateral exercises
      if (time === (Math.floor(duration) - 10) && unilateral) {
        playSound();
        showToast(`<i class="bi bi-rocket-takeoff me-2"></i>Go with right side!`, { type: "primary", delay: 10000 });
      }
      // Change timer text to minutes:seconds format
      const minutes = Math.floor(time / 60);
      const seconds = time % 60;
      timerEl.textContent = `${minutes}:${seconds.toString().padStart(2, '0')}`;
      time--;
    };

    updateTimer();
    const interval = setInterval(updateTimer, 1000);
  });