.flex-row
  .form
    = form_with model: [@program, @workout, @exercise, @exercise_set], local: true do |f|
      .title
        %h3= @exercise.name
      .title
        %h5= [@exercise_set.set_type, @exercise_set.order].join(" - ")
      = f.hidden_field :play, value: true
      .form-group
        = f.label "Reps (#{@exercise.rep_range_min} - #{@exercise.rep_range_max})"
        = f.number_field :reps
      .form-group
        = f.label "Load (#{@exercise_set.unit.abbreviation})"
        .flex-row
          = f.number_field :load, class: "form-control", step: :any
      - if @exercise_set.set_type == "Working Set"
        .form-group
          = f.label :intensity
          = f.select :intensity, [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
      = f.submit 'Save', class: 'btn'

:scss

  .form {
    width: 80%;
    margin-top: 0;
    .title {
      margin-bottom: 4px;
    }
    form {
      margin-top: 0;
    }
    .form-group {
      margin-bottom: 3px;
    }
  }