.title 
  %h1= @exercise_set.order
  = link_to edit_program_workout_exercise_exercise_set_path(@program, @workout, @exercise, @exercise_set), class:  "btn btn-outline-primary btn-sm" do
    %i.bi.bi-pencil.h5
.show
  %table
    %tr
      %td.label Order
      %td.value= @exercise_set.order
    %tr
      %td.label Type
      %td.value= @exercise_set.set_type
    %tr
      %td.label Reps
      %td.value= @exercise_set.reps
    %tr
      %td.label Load
      %td.value= [@exercise_set.load, @exercise_set.unit.abbreviation].join(" ")
    %tr
      %td.label Intensity
      %td.value= @exercise_set.intensity
    %tr
      %td.label Intensity Technique
      %td.value= @exercise_set.intensity_technique&.name
    %tr
      %td.label Created At
      %td.value= l(@exercise_set.created_at, format: :long)
    %tr
      %td.label Updated At
      %td.value= l(@exercise_set.updated_at, format: :long)
  = link_to 'Sets', program_workout_exercise_exercise_sets_path(@program, @workout, @exercise), class: "btn"