.title
  %h1= @workout.name
  = link_to start_workout_program_workout_path(@program, @workout), class: "btn btn-outline-success btn-sm" do
    %i.bi.bi-play.h4
  - if current_user.programs.include?(@program)
    = link_to add_template_program_workout_path(@program, @workout), class: "btn btn-outline-primary btn-sm" do
      %i.bi.bi-plus.h4
.index
  %table
    %thead
      %tr
        %th Order
        %th Name
        %th Type
        %th Instrument
        %th Rep Range
        %th Rest Time
        %th Unilateral
        %th Notes
        %th Sets
        %th Actions
    %tbody
      - @exercises.each do |exercise|
        %tr
          %td= exercise.exercise_group.order
          %td= exercise.name
          %td= exercise.exercise_type
          %td= exercise.instrument.name
          %td= [exercise.rep_range_min, exercise.rep_range_max].join(" - ")
          %td= [exercise.rest_time, exercise.unit.abbreviation].join(" ")
          - if exercise.unilateral 
            %td
              %i.bi.bi-check
          - else
            %td
              %i.bi.bi-x
          %td= exercise.notes
          %td= exercise.exercise_sets.count
          %td.actions
            = link_to program_workout_exercise_path(@program, @workout, exercise), class: "btn" do
              %i.bi.bi-eye
            - if current_user.programs.include?(@program)
              = link_to edit_program_workout_exercise_path(@program, @workout, exercise), class: "btn" do
                %i.bi.bi-pencil
              = link_to duplicate_program_workout_exercise_path(@program, @workout, exercise), data: { "turbo-method": :post, "turbo-confirm": "Duplicate this exercise?" }, class: "btn copy" do
                %i.bi.bi-copy
              = link_to program_workout_exercise_path(@program, @workout, exercise), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "btn delete" do
                %i.bi.bi-trash