.title 
  %h1= @exercise.name
  - if current_user.programs.include?(@program)
    = link_to edit_program_workout_exercise_path(@program, @workout, @exercise), class:  "btn btn-outline-primary btn-sm" do
      %i.bi.bi-pencil.h5
    = link_to quick_sets_creation_program_workout_exercise_path(@program, @workout, @exercise), class:  "btn btn-outline-primary btn-sm" do
      %i.bi.bi-plus.h5
.show
  - if @exercise.image.attached?
    .flex-row
      = image_tag url_for(@exercise.image), class: "img-fluid"
  %table
    %tr
      %td.label Order
      %td.value= @exercise.exercise_group.order
    %tr
      %td.label Type
      %td.value= @exercise.exercise_type
    %tr
      %td.label Include Body Weight
      - if @exercise.body_weight 
        %td.value
          %i.bi.bi-check
      - else
        %td.value
          %i.bi.bi-x
    %tr
      %td.label Instrument
      %td.value= @exercise.instrument.name
    - if @exercise.attachment
      %tr
        %td.label Attachment
        %td.value= @exercise.attachment.name
    - if @exercise.hole
      %tr
        %td.label Hole Position
        %td.value= @exercise.hole
    - if @exercise.grip
      %tr
        %td.label Grip
        %td.value= @exercise.grip.name
    %tr
      %td.label Rep Range
      %td.value= [@exercise.rep_range_max, @exercise.rep_range_min].join(" - ")
    %tr
      %td.label Rest Time
      %td.value= [@exercise.rest_time, @exercise.unit.abbreviation].join(" ")
    %tr
      %td.label Unilateral
      - if @exercise.unilateral 
        %td.value
          %i.bi.bi-check
      - else
        %td.value
          %i.bi.bi-x
    - if @exercise.notes.present?
      %tr
        %td.label Notes
        %td.value= @exercise.notes
  - if @exercise.exercise_sets.any?
    = link_to 'Sets', program_workout_exercise_exercise_sets_path(@program, @workout, @exercise), class: "btn"